.test {
  font-size: 1.4rem;
  background-color: red;
  border-radius: 50%; }

h1 {
  color: green; }

h2 {
  color: orange; }

.card-item {
  margin: 20px 0px; }

.avatar-user {
  height: 30px;
  border-radius: 50%;
  margin-right: 8px; }

.checkbox-select-all-options {
  max-width: 150px; }

.form-check-box {
  margin-right: 10px; }
